@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Yrsa", Helvetica, Verdana, Arial;
  letter-spacing: 0.2px;
  scroll-behavior: smooth;
}